html
  :font-size medium

body
  :background #FFF
  :color #333
  :font 
    :style normal
    :size .75em
    :family Helvetica,Arial,Verdana,sans-serif
    :weight normal
  :line-height 1.33em
  :text-align center


// headings
h1, h2, h3, h4
  :margin 1em 0 0
  :color #111
  :font-weight normal

h1
  :margin 0 0 1em
  :font-size 1.5em
  :line-height 1.2em

h2
  :font-size 1.33em
  :line-height 1.2em

h3
  :font-size 1.18em
  :line-height 1.2em

h4
  :font-size 1em
  :line-height 1.2em
  :font-weight bold


// paragraphs
p
  :margin 0 0 1em


// links
a
  &:link,
  &:visited
    :color #FF6600
    :text-decoration none

  &:hover
    :color #FF9900
    :text-decoration underline

  &:active
    :color #FF6600
    :text-decoration none


// forms & elements
input,select,textarea,button
  :font
    :size 1em
    :family Helvetica,Arial,Verdana,sans


// lists
ol, ul
  :margin 1em 0 1em 1em

ul li
  :list-style inside disc none

ol li
  :list-style inside decimal none


// tables
table
  :width 100%
  td, th 
    :padding .3em 0.5em
  th
    :color #111
    :font-weight bold
    :text-align left

// others
hr
  :display none

quote
  :font-style italic

blockquote
  :font-style italic

